{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Teacher Registartion</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- LINEARICONS -->
		<link rel="stylesheet" href="{% static 'templates/teacher/fonts/linearicons/style.css' %}">
		
		<!-- STYLE CSS -->
		<link rel="stylesheet" href="{% static 'templates/teacher/css/style.css' %}">
	</head>

	<body>

		<div class="wrapper">
			<div class="inner">
				<img src="{% static 'templates/teacher/images/image-1.png' %}" alt="" class="image-1">
				<form action="#" method="POST">
					{% csrf_token %}
					<h3>New Teacher?</h3>
					<div class="form-holder">
						<span class="lnr lnr-user"></span>
						<input type="text" class="form-control" placeholder="Name" name="name" required>
					</div>
					<div class="form-holder">
						<span class="lnr lnr-license"></span>
						<input type="text" class="form-control" placeholder="Teacher ID" name="Teacher_ID" required>
					</div>
					<div class="form-holder">
						<span class="lnr lnr-envelope"></span>
						<input type="text" class="form-control" placeholder="Mail" name="Mail" required>
					</div>
					<div class="form-holder">
						<span class="lnr lnr-lock"></span>
						<input type="password" class="form-control" placeholder="Password" name="Password" required>
					</div>
					<div class="form-holder">
						<span class="lnr lnr-lock"></span>
						<input type="password" class="form-control" placeholder="Confirm Password" required>
					</div>
					<button>
						<span>Register</span>
					</button>
				</form>
				<img src="{% static 'templates/teacher/images/image-2.png' %}" alt="" class="image-2">
			</div>
			
		</div>
		
		<script src="{% static 'templates/teacher/js/jquery-3.3.1.min.js' %}"></script>
		<script src="{% static 'templates/teacher/js/main.js' %}"></script>
	</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>