{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'templates/quizzes/css/quizzes.css' %}"> 
        <link rel="stylesheet" href="{% static 'templates/questions/css/questions.css' %}"> 
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>

        <title>My Quizzes</title>
    </head>
    <body>
        {% csrf_token %}

        <div class='first' style="color: darkslategray;">
            <h1 style="color: darkslategray;">{{quiz_obj.quiz_name}}</h1>
            <p>ALL THE BEST</p>
        </div>
        <div class='second'>
            <div style="color: white;">Questions</div>
        </div>
        
        <div class="container mt-5">
            <div class="d-flex justify-content-center row">
                <div class="col-md-10 col-lg-10">
                    <div class="border">
                        <div class="question bg-white p-3 border-bottom">
                            <div class="d-flex flex-row justify-content-between align-items-center mcq">
                                <h4>MCQ Quiz</h4>
                            </div>
                        </div>
                        <form method="POST">
                        {% for i in ques %}
                        <div class="question bg-white p-3 border-bottom">
                            <div class="d-flex flex-row align-items-center question-title">
                                <h3 style="color: darkslategray;">Q{{forloop.counter}}.&nbsp;</h3>
                                <h3 style="color: darkslategray;">{{i.question}}</h5>
                            </div>
                            <div class="ans ml-2">
                                <label class="radio"> <input type="radio" name="{{i.q_id}}" value="A" style="background-color: darkslategray;"> <span>{{i.opt1}}</span>
                                </label>
                            </div>
                            <div class="ans ml-2">
                                <label class="radio"> <input type="radio" name="{{i.q_id}}" value="B"> <span>{{i.opt2}}</span>
                                </label>
                            </div>
                            <div class="ans ml-2">
                                <label class="radio"> <input type="radio" name="{{i.q_id}}" value="C"> <span>{{i.opt3}}</span>
                                </label>
                            </div>
                            <div class="ans ml-2">
                                <label class="radio"> <input type="radio" name="{{i.q_id}}" value="D"> <span>{{i.opt4}}</span>
                                </label>
                            </div>
                        </div>
                        {% endfor %}
                        
                    </div>
                </div>
            </div>
        </div>
        <br>
        <input type="submit" value="Submit" style="margin-left: 45em;">
    </form>
        <!-- {% for i in ques %}
        <div>
            <p style="display: inline;">Q{{forloop.counter}}</p>
            <p style="display: inline;">{{i.question}}</p>
            
        </div>
        {% endfor %} -->
    </body>
</html>