{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'templates/quizzes/css/quizzes.css' %}"> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <title>My Quizzes</title>
    </head>
    <body>
        {% csrf_token %}

        <div class='first' style="color: darkslategray;">
            <h1 style="color: darkslategray;">{{quiz_obj.quiz_name}}</h1>
            <p>ALL THE BEST</p>
        </div>
        <div class='second'>
            <div style="color: white;">Questions</div>
        </div>
        {% for i in ques %}
        <div>
            <p style="display: inline;">Q{{forloop.counter}}</p>
            <p style="display: inline;">{{i.question}}</p>
            
        </div>
        {% endfor %}
    </body>
</html>