*{
    margin: 10;
}

body{
    background-color: #accffe;
}
.first{
    
}

.first h1{
    border: darkviolet solid 5px;
    font-size: 50px;
    padding-left: 10px;
    display: inline;
}

.first p{
    display: inline;
    font-size: 18px;
    padding-left: 800px;
    font-family: 'Courier New', Courier, monospace;
}

.second{
    color: white;
    font-size: 25px;
    padding-left: 15px;
    margin-top: 10px;
}



  