{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'templates/student_courses/courses.css' %}">
        <title>Quizze</title>
    </head>
    <body>
        {% csrf_token %}
        <div class='first'>
            <h1>Quizze</h1>
            <p>THE WORLD'S FAVOURITE QUIZ SITE</p>
        </div>
        <div class='second'>
            My Courses
        </div>
        {% for i in course %}
        <p>{{i.Course_ID}}</p>
        {% endfor %}
    </body>
</html>