{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'templates/student_courses/css/courses.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <title>My Courses</title>
    </head>
    <body>
        {% csrf_token %}
        <div class='first'>
            <h1>Quizze</h1>
            <p>THE WORLD'S FAVOURITE QUIZ SITE</p>
        </div>
        <div class='second'>
            <div>Welcome: {{student_obj.name}}</div>
            <!-- My Courses -->
        </div>
        <ins><h1 style="color:darkslategray; padding-left: 110px; font-family:Georgia, 'Times New Roman', Times, serif">My Courses</h1></ins>
        {% for i in course %}
        <div class="container" style = "padding-top: 10px;">
            <div class="panel-group" id="accordion">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{forloop.counter}}">{{i.Course_ID}}</a>
                  </h4>
                </div>
                <div id="collapse{{forloop.counter}}" class="panel-collapse collapse in">
                  <div class="panel-body" style="font-size: 18px;">
                    {{i.Course_ID.Course_Name}}
                    <button class = "btn success" onclick="location.href = 'http://127.0.0.1:8000/quizzes/{{i.Course_ID}}/{{student_obj.RollNo}}' ">Show Quiz</button>
                  </div>
                </div>
              </div>
              
            </div> 
        </div>
        {% endfor %}
    </body>
</html>