*{
    margin: 10;
}

.first{
    
}

.first h1{
    font-size: 50px;
    padding-left: 10px;
    display: inline;
    color: darkslategray;
}

.first p{
    display: inline;
    font-size: 18px;
    padding-left: 800px;
    font-family: 'Courier New', Courier, monospace;
}

.second{
    background-color: #accffe;
    color: white;
    font-size: 25px;
    padding-left: 15px;
    margin-top: 10px;
    display: inline;
}

