{% load static %}
<!DOCTYPE html>
<html>
    <head>
      <link rel="icon" type="image/png" href="{% static '/templates/home/assets/images/favicon2.png' %}">
        <link rel="stylesheet" href="{% static 'templates/student_courses/css/courses.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <title>My Courses</title>
        <script>
          function goToQuizzes(Course_ID, RollNo){
            window.location.href = "{% url 'Quizzes' %}" + "?course_id="+Course_ID + "&rollno="+RollNo;
          }
          function logOut(){
            window.location.href = "{% url 'student_login' %}";
          }
          function Courses(RollNo){
            window.location.href = "rollno="+RollNo;
          }
        </script>
        <style>
          a:hover{
            text-decoration: none;
            cursor: pointer;
          }
        </style>
    </head>
    <body style="background-image: url('https://image.freepik.com/free-vector/quiz-background-with-items-flat-design_23-2147599082.jpg'); background-repeat: no-repeat; background-size: 1500px 900px;">
        {% csrf_token %}
        <div class='first'>
          <a onclick="Courses({{rollno}})"><h1 style="color: darkslategray;">Quizze</h1></a>
            <p>THE WORLD'S FAVOURITE QUIZ SITE</p>
        </div>
        <div class='second'>
            <div style="width: 443px; max-width: 443px; display:inline-block;
       ">Welcome: {{student_obj.name}}</div>
            <button style="margin-left: 56vw; display: inline-block; background-color: white; border-radius: 20px; color: darkslategray; font-size: 20px;" onclick="logOut()">Log Out</button>
            <!-- <div style="display: inline; padding-left: 75vw; margin-bottom: 10vh;"><button>Log Out</button></div> -->
            <!-- My Courses -->
        </div>
        <ins><h1 style="color:darkslategray; padding-left: 110px; font-family:Georgia, 'Times New Roman', Times, serif">My Courses</h1></ins>
        {% for i in course %}
        <div class="container" style = "padding-top: 10px;">
            <div class="panel-group" id="accordion">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{forloop.counter}}">{{i.Course_ID}}</a>
                  </h4>
                </div>
                <div id="collapse{{forloop.counter}}" class="panel-collapse collapse in">
                  <div class="panel-body" style="font-size: 18px;">
                    {{i.Course_ID.Course_Name}}
                    <button class = "btn success" onclick="goToQuizzes('{{i.Course_ID}}', '{{student_obj.RollNo}}')">Show Quiz</button>
                  </div>
                </div>
              </div>
              
            </div> 
        </div>
        {% endfor %}
    </body>
</html>