*{
    margin: 10;
}

body{
    
    
    
}
.first{
    color: darkslategray;
}

.first h1{
    font-size: 50px;
    padding-left: 10px;
    display: inline;
}

.first p{
    display: inline;
    font-size: 18px;
    padding-left: 800px;
    font-family: 'Courier New', Courier, monospace;
}

.second{
    background-color: darkslategray;
    font-size: 25px;
    padding-left: 15px;
    margin-top: 10px;
    color: white;
}

.second div{
    display: inline;
    overflow: hidden;
}

.second p{
    display: inline;
}

.second button{
    display: inline;
}

.btn {
    border: 2px solid !important;
    border-radius: 5px;
    background-color: white;
    color: black;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    float: right;
}

.success {
    border-color: #4CAF50;
    color: green;
}
  
.success:hover {
    background-color: #4CAF50;
    color: white;
}


  